<template>
  <div class="relative">
    <div class="w-full min-h-screen bg-black bg-opacity-50 absolute flex items-center justify-center text-white" v-if="loading">
      <div class="spinner"></div>
    </div>
    <div class="flex">
      <div class="w-1/5 bg-gray-800">
        <div class="p-4 mt-3">
          <h1 class="text-blue-500 uppercase tracking-wide font-semibold mb-3"> Click to Filter </h1>
          <ul class="text-white flex flex-col" >
            <li v-for="feedItem in feedList" :key="feedItem.title">
              <a href="#" 
              @click.prevent="filter(feedItem);" 
              class="py-1 inline-block text-xs px-4 w-full outline-none mb-1"
              :class="{'bg-gray-700':feedItem.selected}"
               >{{ feedItem.title }}</a></li>
          </ul>
          <a href="#" @click="reset()" 
          class="text-blue-500 text-xs border border-gray-700 text-center uppercase tracking-wide font-semibold mb-3 mt-4 block p-2"
          v-if="this.filters.length > 0">Reset ({{ this.filters.length}}) filter(s)</a>
        </div>
      </div>
      <div class="w-4/5 max-h-screen overflow-y-scroll">
        <div class="p-4 text-white">
          <div v-for="result in results" :key="result.feed.title">
            <h1 class="text-blue-500 uppercase tracking-wide font-semibold mb-3 mt-3">{{ result.feed.title }}</h1>
            <ul v-for="item in result.items" :key="item.link">
              <li>
                <div class="bg-gray-700 rounded p-4 mb-5">
                  <h1 class="font-bold">{{ item.title }}</h1><span class="text-xs text-gray-300">{{ item.pubDate }} </span>
                  <p class="mt-4" v-html="item.content"></p>
                  <p class="text-xs text-gray-500 mt-4">
                    Link: <a :href="item.link" class="outline-none" target="_blank">{{ item.link }}</a>
                  </p>
                </div>
              </li>
            </ul>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
</template>

<script>

import axios from 'axios';
export default {

  // when all data has fetched show them on the page
  // there should be a sidebar for current feeds
  // user should be able to click on the feed to select a feed and filter by selected feed
  // problem: current feed is static, the feed should be dynamic and user should be able to add or delete feed.
  // solution1: user should be able to add new feed, and that feed should be added to localStorage, then when the page reloads 
  // feed should show already existing feeds merged with those feed that user has added
  // solution2: populate localStorage with default feeds, the user should be able to add or delete as they wanted.
  // solution3: create a firebase database and use vfire to interact with feed data, per user

  
  data() {
    return {
      loading: true,
      feeds: [
        'https://feed.laravel-news.com/',
        'https://freek.dev/feed',
        'https://www.spiegel.de/schlagzeilen/index.rss',
        'https://www.spiegel.de/politik/index.rss',
        'https://www.spiegel.de/wirtschaft/index.rss',
        'https://www.spiegel.de/panorama/index.rss',
        'https://www.spiegel.de/kultur/index.rss',
        'https://www.spiegel.de/netzwelt/index.rss',
        'https://www.spiegel.de/wissenschaft/index.rss',
        'https://www.spiegel.de/gesundheit/index.rss',
      ],
      results: [],
      feedList: [],
      tempResults: [],
      filters: []
    }
  },
  created() {
    
    this.feeds.forEach(item => {
      var config = {
          dataType: 'jsonp'
      };
      let url = "https://api.rss2json.com/v1/api.json?rss_url=" + item + '&api_key=efejpc5edlquh6xuccze2x8mttpbfgs2tctedyil';
      axios.get(url, config)
        .then(res => {

          this.results.push({
            feed: res.data.feed,
            items: res.data.items 
          });
          this.feedList.push(res.data.feed);
          if (this.results.length == this.feeds.length) {
            // just to see the loading, it not necessary
            setTimeout(() => this.loading = false, 1000);
          }
        })
    })
    
  },

  methods: {
    filter(item) {

      let url = item.url;

      // highlight currently selected filter
      item.selected = !item.selected;

      // add or remove from the filters
      let index = this.filters.indexOf(url);
      if (index >= 0) {
        this.filters.splice(index, 1);
      } else {
        this.filters.push(url);
      }


      if (this.filters.length == 0) {
        this.reset();
        return;
      }
      
      if (this.tempResults.length == 0) {
        this.tempResults = this.results;
      }
      
      this.results = this.tempResults.filter((item) => {

        if (this.filters.includes(item.feed.url)) {
          return item;
        }
      });

    },
    
    reset(){
      this.results = this.tempResults;
      this.feedList.forEach((item) => item.selected = false);
      this.filters = [];
    }
  }
}
</script>
